:root {
  --color-header: linear-gradient(to left, #060610, #05050f);
  --color-footer: linear-gradient(#0b0b1d, #0c0b1b);
  --color-logo: linear-gradient(80deg, #833be8, #e147a1);
  --color-paragraph-small: #6f6ea0;

  --font-size--primary: 1.4rem;
  --font-family--primary: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #0b081a, #060510);
}
