%clearInputStyling {
  border: none;
  border-radius: 1.1rem;
  width: 100%;
  padding: 1.2rem 2rem;
  background-color: #111129;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
  border: 1.2px solid darken(#2b0057, 0.2%);
}

%eyeButtonPosition {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: #ffffff6b;
  cursor: pointer;
}

.section_login {
  height: 100vh;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;

  &--container {
    border-radius: 2.3rem;
    background-color: #0d0a1c;
    width: 390px;
    padding: 23px;
    text-align: center;

    & > * {
      margin-bottom: 2rem;
    }

    &_title {
      & > * {
        color: $color-paragraph-small;
      }
    }

    &_btn {
      background-color: #000;
      width: 100%;
      border-radius: 1rem;
      display: flex;
      padding-block: 0.5rem;

      & > * {
        border: none;
        cursor: pointer;
        padding: 1.3rem 6.3rem;
        font-size: 1.3rem;
        border-radius: 1.1rem;
        font-weight: bold;
        background-color: #000;
        color: $color-paragraph-small;
      }

      &--active {
        background-image: $color-logo;
        color: #fff;
      }
    }

    &_form {
      & > input {
        @extend %clearInputStyling;

        &::placeholder {
          background-color: #111129;
          color: $color-paragraph-small;
        }

        &:focus {
          outline: 1.2px solid #51158c;
        }
      }

      &--passwordBox {
        position: relative;
        & > input {
          @extend %clearInputStyling;

          &:focus {
            outline: 1.2px solid #51158c;
          }
        }
      }

      & > label {
        text-align: left;
        margin-bottom: 1rem;
      }

      & > select {
        @extend %clearInputStyling;

        & > option {
          width: 100%;
          border: none;
          color: #fff;
        }
      }
    }

    &_submit {
      width: 100%;

      &--btn {
        display: block;
        background-image: $color-logo;
        color: #fff;
        border: none;
        padding: 1.3rem 6.3rem;
        border-radius: 1.1rem;
        width: 100%;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s;
      }

      &--btn:hover {
        transform: translateY(-1.5px);
        box-shadow: 0px 1.5px 20px rgba(131, 59, 232, 0.726);
      }
    }
  }
}

p,
label {
  color: #fff;
}

label {
  display: block;
  color: $color-paragraph-small;
}

p {
  font-size: 1.3rem;
}

.submit_btn--login {
  display: none;
}

.eye {
  &_open {
    z-index: -2;
    @extend %eyeButtonPosition;
  }

  &_close {
    z-index: 2;
    @extend %eyeButtonPosition;
  }
}
